<div ng-controller='AssociationsController' style="padding:10px;border:1px solid black;">
      <center>
      <form>
        <select ng-model="newTeam.playerIdx">
          <option ng-selected="{{operator.value == newTeam.playerIdx}}" ng-repeat="playerObj in players" value="{{$index}}" ng-bind="playerObj.pname" >{{playerObj.pname}}</option>
        </select>
          <select ng-model="newTeam.team" ng-init="newTeam.team = teams[0].tname">
          <option ng-repeat="teamObj in teams" value="{{teamObj.tname}}" ng-bind="teamObj.tname">{{teamObj.tname}}</option>
        </select>
        <input type='submit' value='Assign Player to Team' ng-click='addTeam()'></center>
    </form>
      <hr>
      <table style="width:100%;border-collapse: collapse">
        <tr style="background-color: #dddddd">
          <th style="padding:8px;border:1px solid black;text-align: left">Name</th>
          <th style="padding:8px;border:1px solid black;text-align: left">Team</th>
          <th style="padding:8px;border:1px solid black;text-align: left">Actions</th>
        </tr>
        <tr id="searchObjResults" ng-repeat="playerObj in players track by $index">
          <td style="padding:8px;border:1px solid black;text-align: left">{{playerObj.pname}}</td>
          <td style="padding:8px;border:1px solid black;text-align: left">{{playerObj.tname}}</td>
          <td style="padding:8px;border:1px solid black;text-align: left"><button ng-click = 'delTeam($index)'>Clear Assignment</button></td>
        </tr>
      </table>
</div>
