<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Cat Form</title>
</head>
<body>
	<form action="/cat" method="post">
			<label for="name">Cat Name: </label>
			<input type="text" name="name">
			<label for="weight">Weight: </label>
			<input type="number" name="weight">
			<label for="color">Color: </label>
			<input type="text" name="color">
		<input type="submit" value="Submit">
	</form>
</body>
</html>
