<!DOCTYPE HTML>
<html lang="en-US">
<head>
       <title>Dojo Survey Results</title>
       <link rel='styesheet' href="/css/style.css"/>
    </head>
  <body>
    <h2>Submitted Information</h2>
    <ul>
        <li>Name: <%= user_data.name%></li>
        <li>Dojo Location: <%= user_data.location%></li>
        <li>Favorite Language: <%= user_data.language%></li>
        <li>Comment: <%= user_data.comment%></li>
  </body>
</html>
